*{padding:0;margin:0;font-family: 'Lato', sans-serif;font-family: 'Raleway', sans-serif;}

html, body {
    height: 100%;
}
ul li{
    list-style: square;
    text-align: left;
    padding: 5px;
    margin-left: 40px;
}
#box_1.scrolling{
    padding: 10px 0;
    background-color: #53c2e8;
}
#box_1.scrolling img {
    width: 200px;
}
.inline_v_mid{
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    /*margin-right: -4px;*/
        position: relative;
    /*left: 2px;*/
}
#box_all{
    /*background-color: red;*/
    height: 100%;
}
#box_main{
    /*background-color: blue;*/
    height: 100%;
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
}
.box_info{
    /*background-color: green;*/
}
.area{
    /* background-color: yellow; */
    height: 100%;
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
}
/*EL HEADER*/
#box_1{
    padding: 24px 0;
    transition: 0.4s all ease-in-out;
    background-color: #3078dc;
}
header{
    color: white;
    padding: 0 50px;
    transition: 0.4s all ease-in-out;
}
.h_logo{
    /*background-color: purple;*/
    width: 100%;
    text-align: center;
    /*position: relative;*/
    left: 4px;
}
.h_logo img{
    width: 260px;
    transition: 0.6s all ease-in-out;
}
.h_nav{
    /* background-color: orange; */
    width: 100%;
    text-align: center;
    /*position: relative;*/
    /*left: 4px;*/
}

.h_btn{
    display: none;
    padding: 15px 0 5px 0;
}
#nav_btn button{
    color: white;
    background-color: #53c2e8;
    padding: 0px 10px;
    border: #ffffff solid 1px;
    transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    font-size: 2em;
    position: relative;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 4px;
        cursor: pointer;
}
#nav_btn button:focus {
    outline: none;
}
.nav_info{

}
.nav_info li{
    padding: 0;
    margin-right: 0;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: rgba(255, 255, 255, 0) 1px solid;
    /*border-top: rgba(255, 255, 255, 0) 1px solid;*/
    transition: 0.4s all ease-in-out;
}
.nav_info li a:hover{
    border-bottom: white 1px solid;
    /* border-top: white 1px solid; */

background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(8,8,8,0.4) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(8,8,8,0.4)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(8,8,8,0.4) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(8,8,8,0.4) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(8,8,8,0.4) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(8,8,8,0.4) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#080808', GradientType=0 );
}
.nav_info li a {
    border-bottom: rgba(255, 255, 255, 0) 1px solid;
    padding: 12px 8px;
    color: white;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}
.nav_li_sep{
    font-size: 2em;
    margin-left: -4px;
    margin-right: 0;
        height: 40px;
}

#box_1{
    padding: 36px 0;
    /* position: absolute; */
    /* position: fixed; */
    width: 100%;
    z-index: 3;
    /* background-color: rgba(8,8,8,0.4); */
}

/*LOS SLIDERS*/
#slid_info {
    text-align: center;
    width: 420px;
    margin: auto;
    padding: 70px 0;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: rgba(12, 14, 19, 0.8) 5px 1px 10px;
}
#slid_overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000013+100&0+0,0.8+100 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,19,0.8) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,19,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,19,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000013',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100%;
}
#slid_info img{
    width: 150px;
    margin: auto;
    -webkit-filter: drop-shadow(rgba(12, 14, 19, 0.5) 1px 1px 2px);
    filter:         drop-shadow(rgba(12, 14, 19, 0.5) 1px 1px 2px); 
}
#slid_info h1{
    padding: 10px 0 0 0;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}
#slid_info h2{
    padding: 5px;
    letter-spacing: 4px;
}
#slid_info h3{
    padding: 10px 0;
    letter-spacing: 2px;
}
#slid_info p{
    letter-spacing: 1px;
    padding: 10px 30px 40px 30px;
    border-top: white solid 3px;
    border-top-style: double;
    font-weight: 200;
}
#slid_info a{
    color: white;
    border: white solid 1px;
    padding: 10px 30px;
    position: relative;
    top: 20px;
    text-decoration: none;
    transition: 0.6s all;
}
#slid_info a:hover{
    color: #131722;
    background-color: white;
    text-shadow: none;
}
.slider_item{
    /*background-color: red;*/
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#slid_info img {
    animation-delay: 0.6s;
}
#slid_info p {
    animation-delay: 0.4s;
}
#slid_info h3, #slid_info a {
    animation-delay: 0.8s;
}


.slid_1{
    background-image: url(../images/slider/slid_1.jpg);
}
.slid_2{
    background-image: url(../images/slider/slid_2.jpg);
}
.slid_3{
    background-image: url(../images/slider/slid_3.jpg);
}
.slid_4{
    background-image: url(../images/slider/slid_4.jpg);
}
.slid_5{
    background-image: url(../images/slider/slid_5.jpg);
}
.slid_6{
    background-image: url(../images/slider/slid_6.jpg);
}
/*PARA QUE FIT 100*/
#box_2{
    height: 100%;
    position: relative;
    z-index: 2; 
}
.owl-carousel-slidimg {
    height: 100%;
    /*
    div:not(.owl-controls) {
        height: 100%;
    }
    */
}
.owl-carousel-slidimg .owl-stage {
    height: 100%!important;
}
.owl-carousel-slidimg .owl-stage-outer {
    height: 100%!important;
}
.owl-carousel-slidimg .owl-item {
    height: 100%;
}
/*MINI INFO*/
.mini_info{
    width: 420px;
    width: 720px;
    margin: auto;
    text-align: center;
    padding: 60px 0;
    color: #28528d;
    position: relative;
}
.mini_info h1{
    font-weight: normal;
    padding: 20px 0;
    font-size: 2em;
    letter-spacing: -1px;
}
.mini_info p{
    /*width: 380px;*/
    margin: auto;
}
.mini_info_title{

}
.title_cover h1{
    background-image: url(../images/info/soporte_title.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 54px 0;
    margin-top: 60px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: black 0px 2px 5px;
    font-size: 2.4em;
}
.title_cover ul{
    padding: 20px 0;
}
.mini_info_title img{
    width: 100%;
    padding: 60px 0 0 0;
}
/* BOX 3 */

#box_3 {
    background-image: url(../images/rivertech_logo_per.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: cover;
    box-shadow: inset 0 10px 15px -10px #15163a, inset 0 -10px 15px -15px #151639;
}
#box_3 .area{
    background: rgba(14,39,66,0.3);
    background: -moz-linear-gradient(left, rgba(14,39,66,0.3) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14,39,66,0.3)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(14,39,66,0.3) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(14,39,66,0.3) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(14,39,66,0.3) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(14,39,66,0.3) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e2742', endColorstr='#ffffff', GradientType=1 );
}
#box_3 .mini_info h1{
    font-weight: normal;
    padding: 20px 0;
    font-size: 2em;
    letter-spacing: -1px;
}
#box_3 .mini_info p{
    /* width: 358px; */
    margin: auto;
    text-align: justify;
    border-left: solid 1px;
    border-right: solid 1px;
    padding: 20px 30px;
}
/* BOX 4 */
#box_4 .mini_info {
    width: 720px;
    border-bottom: solid 2px #53c2e8;
}
#box_4 .mini_info p {
    width: auto;
    padding: 0 0 20px 0;
}

.mid_box{
    width: 50%;
}
.mid_box ul li{
    list-style: square;
    text-align: left;
    padding: 5px;
    margin-left: 40px;
}
.bm_half{
    width: 50%;
}
.bm_all{
    width: 100%;
}
.mid_box_in img{
    width: 100%;
    width: calc(100% - 14px);
    padding: 14px;
}

/* BOX 5 */
#box_5 .mini_info {
    width: 720px;
    /*border-bottom: solid 2px #53c2e8;*/
    padding-bottom: 0;
}
#box_5 .mini_info p {
    width: auto;
    padding: 0 0 20px 0;
}
/* BOX 6 */
#box_6 .mini_info {
    width: 720px;
    border-bottom: solid 2px #53c2e8;
    padding-top: 0;
}
#box_6 .mini_info p {
    width: auto;
    padding: 0 0 20px 0;
}
/* BOX 7 MARCAS*/
#box_7 .mini_info {
    width: 720px;
    border-bottom: solid 2px #53c2e8;
}
/* BOX 8 - CONTACTATESTA */
.line_form {
    padding: 5px 0;
    /* width: 100%; */
    /* margin: auto; */
    margin-top: 20px;
}
.line_form label {
    vertical-align: top;
    width: 20%;
    padding: 8px 5px;
    text-align: start;
}
.line_form input {
    color: #28528d;
    vertical-align: top;
    width: 70%;
    padding: 10px 5px;
    border: rgb(169, 169, 169) solid 1px;
}
.line_form textarea {
    color: #28528d;
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-left: -4px;
    padding: 10px 5px;
    resize: none;
    max-height: 300px;
    border: rgb(169, 169, 169) solid 1px;
}
.btn_form {
    margin-top: 30px;
}
.btn_form input {
    padding: 14px 0;
    width: 100%;
    font-weight: bold;
    background-color: #53c2e8;
    letter-spacing: .1em;
    text-shadow: rgba(78, 85, 86, 0.74) 0px 1px 5px;
    transition: .3s all;
    border: none;
    color: white;
    cursor: pointer;
}
#pop_send {
    background: white;
    width: 60%;
    border: solid #28528d 2px;
    margin: auto;
    padding: 60px 0;
    transform: translateY(40%);
    box-shadow: 0 10px 15px -10px #15163a, inset 0 -10px 15px -15px #151639;
    /* box-shadow: rgba(0,0,0,0.5) 0px 10px 10px -8px; */
}   
#pop_box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    z-index: 1;
    display: none;
}
/*EL FOOTER*/
footer{
    text-align: center;
    padding: 20px 0;
    background-color: #28528d;
    color: white;
    position: relative;
    z-index: 2;
}
.main_footer{
    width: 90%;
    margin: auto;
}
.footer_info{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer_info .info_in{
    margin: 0 30px;
    /*padding: 0 20px;*/
}
.footer_info h4{
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: 1.3em;
    padding: 5px 0 20px 0;
    border-bottom: white solid 1px;
    margin-bottom: 10px;
}
.footer_info .info_in ul{
    height: 330px;
}
.footer_info .info_in ul li{
    list-style: none;
    padding: 8px 0;
    text-align: left;
}
.footer_info .info_in ul li i{
    font-size: 1.4em;
    text-align: center;
    width: 40px;
}

#mapa{
    /*font-size: 0;*/
}
.mas_mapa {
    border: white solid 1px;
    padding: 5px 0;
    position: relative;
    top: -5px;
    /*text-align: right;*/
    font-size: small;
}
/*EL MINIFOOTER*/

.fin_footer button{
    padding: 14px;
    border: white solid 1px;
    background-color: #28528d;
    color: white;
    transition: 0.2s all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;
    cursor: pointer;
    margin: 20px 0 0 0;
}
.fin_footer button:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 2px;
    transform: translate(0px,-4px);
}
.fin_footer button p{
    
}
.btn_subir_icon{
    transform: rotate(135deg);
}
.fin_footer h5{
    padding: 20px 0;
    font-weight: normal;
    letter-spacing: 2px;
}
/* UP OFF */
.fin_footer.btn_off {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
}
.mini_menu_i.fa{
    display: none;
}

@media (min-width: 561px) {
.h_nav{
    display: inline-block!important;
}
}
@media (max-width: 960px) {
.mini_info{
    width: 700px;
    }
#box_4 .mini_info, #box_5 .mini_info, #box_6 .mini_info, #box_7 .mini_info{
    width: 700px;
}
.footer_info .info_in ul li{
    margin: 0;
}
}
@media (max-width: 920px) {
header{
    padding: 0 10px;
}
}
@media (max-width:  840px) {
header{
    padding: 0 50px;
}
.mini_menu_i.fa{
    display: initial;
    font-size: 2.4em;
}
.mini_menu_txt{
    display: none;
}
}
@media (max-width: 740px) {
    header{
    padding: 0 10px;
}
.mini_info{
    width: 540px;
    }
#box_4 .mini_info, #box_5 .mini_info, #box_6 .mini_info, #box_7 .mini_info{
    width: 540px;
}

.footer_info {
    width: 100%;
}
#slid_info img{
    width: 100px;
}
#slid_info p{
    font-size: 1em;
    padding: 10px 30px;
}
}
@media (max-width: 580px) {
.mini_info{
    width: 440px;
    }
#box_4 .mini_info, #box_5 .mini_info, #box_6 .mini_info, #box_7 .mini_info{
    width: 440px;
}
.mini_menu_i.fa{
    font-size: 2.2em;
}
}
@media (max-width: 560px) {

.mini_menu_i.fa{
    display: none;
}
.h_logo{
    /* width: 90%; */
}
.h_nav{
    /* display: none; */
    /* width: 100%; */
}
.h_btn{
    display: initial;
    width: 10%;
    top: 5px;
}
.nav_info{
    /* overflow: hidden; */
    /* padding-top: 10px; */
}
.nav_li_sep {
    display: none;
}
.mini_menu_txt {
    display: initial;
}
.nav_info li{
    /*display: block;*/
    width: 100%;
    /*background-color: blue;*/
    margin: 0;

    background-color: rgba(19,41,81,0.8);
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}
.nav_info li a{
    width: 100%;
    /*background-color: red;*/
    display: block;
    padding: 12px 0;
    text-align: center;
}

}


@media (max-width: 480px) {
.mini_info{
    width: 360px;
}
#box_4 .mini_info, #box_5 .mini_info, #box_6 .mini_info, #box_7 .mini_info{
    width: 360px;
}
#slid_info{
    width: 100%;
}
#box_3 .mini_info p{
    border: none;
}
.mid_box {
    width: 100%;
}
.mini_info h1 {
    word-break: break-word;
}
.mid_box_in img {
    width: 100%;
    /* width: calc(100% - 14px); */
    padding: initial;
}
.footer_info .info_in ul {
    height: initial;
}
.mail_box{
    word-break: break-all;
}
#box_1{
    /* padding: 15px 0; */
}
.h_logo img{
    width: 210px;
}
#box_1.scrolling img{
    width: 180px;
}
#slid_info img{
    width: 100px;
}
#slid_info h1{
    font-size: 2em;
}
#slid_info h2{
    font-size: 1em;
}
#slid_info h3{
    font-size: 1em;
}
#slid_info p{
    font-size: 1em;
    padding: 10px 30px;
}
#slid_info a{
    font-size: 0.8em;
}
.fin_footer.btn_off {
    bottom: 20px;
    right: 20px;
}
.fin_footer button{
    padding: 10px;
    font-size: 12px;
}
}
@media (max-width: 410px) {
.mini_info{
    width: 100%;
    }
#box_4 .mini_info, #box_5 .mini_info, #box_6 .mini_info, #box_7 .mini_info{
    width: 100%;
}
.h_logo{
    /* width: 84%; */
}
}

@media (max-height: 580px) {
#slid_info img{
    width: 100px;
}
#slid_info p{
    font-size: 1em;
    padding: 10px 30px;
}
}
@media (max-height: 500px) {
#slid_info img{
    display: none;
}
}